.directionsContainer{
	width: auto;
	height: auto;
	margin-left: 10px;
}

.directionRow{
	width: inherit;
	height: auto;
    margin: 5px 0 5px 0;
    border-width: 0 0 1px 0;
    border-style: dotted;
    border-color: lightgray;
}

.directionTextSpan{
	padding: 5px 0 5px 0 !important;
}