.directionsContainer{
	width: auto;
	height: auto;
	margin-left: 10px;
}

.directionRow{
	width: inherit;
	height: auto;
    margin: 5px 0 5px 0;
    border-width: 0 0 1px 0;
    border-style: dotted;
    border-color: lightgray;
    padding: 10px;
}

.directionTextSpan{
	padding: 5px 0 5px 0 !important;
}

.dummyDiv{
	width: 100%;
	height: 100px;
	display: block;
}