@keyframes menuSlideIn{
	from {left: -408px;}
	to {left: 0px;}
}

.menuBar{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 408px;
	position: absolute;
	left: -408px;
	z-index: 9999;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	z-index: 999;
}

.menuBar.opened{
	left: 0px;
	animation-name: menuSlideIn;
	animation-duration: 0.8s;
}

.menuBar.closed{
	animation-name: menuSlideIn;
	animation-duration: 5s;
	animation-direction: reverse;
}

.menuBar.opened #userType{
    position: relative;
    z-index: 999;
    top: calc(100% - 40px);
    left: 10px;
}