.formContainer{
	width: 450px;
	height: 500px;
	margin: auto;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	display: flex;
	align-items: center;
}

.headerMessage{
	font-size: 24px;
	font-weight: 400;
	padding: 0px 5px 0px 5px;
}

.registerForm{
	margin: auto;
	width: auto;
}

.registerContainer{
	height: auto;
	width: 100%;
}

.registerRow{
	height: 20px;
	padding: 10px 0 10px 0;
}

.submitButtons{
	padding-top: 8px;
	display: table;
	margin: auto;
}

.submitButtons .dijitButton .dijitButtonNode{
	border: none;
	color: white;
	background-color: #4285f4;
	height: 30px;
	display: flex;
	align-items: center;
}

.registerRow span{
	vertical-align: bottom;
	padding-right: 10px;
}

.registerRow .textBox{
	border: none;
	border-bottom: 1px solid #b5bcc7;
	background-color: transparent;
	float: right;
	width: calc(100% - 100px);
}

.registerRow .dijitTextBoxError{
	border-color: red;
	background-color: transparent;
}

.registerRow .dijitTextBoxError .dijitInputContainer{
	background-color: transparent;
}

.registerRow .dijitTextBoxFocused{
	outline: none;
	border-bottom-color: #4285f4;
}

.registerRow .dijitTextBoxError .dijitValidationContainer{
	display: none;
}

.dijitTextBoxFocused .dijitPlaceHolder{
	color: #4285f4 !important;
}

.dijitTextBoxError .dijitPlaceHolder{
	color: red;
}

.dijitTooltip, .dijitTooltipConnector{
	display: none;
}

.selection{
	width: calc(100% - 74px);
}

.selection:hover, .selectionOption:hover{
	cursor: pointer;
}

.selection, .selectionOption{
	color: #AAAAAA;
    font-style: italic;
}

.errorContainer{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.validationError{
	color: red;
}