@keyframes ratingSlideIn{
	from {bottom: -80px;}
	to {bottom: 5px;}
}

@keyframes ratingSlideOut{
	from {bottom: 5px;}
	to {bottom: -80px;}
}

.rateRouteContainer {
	width: 100%;
	position: absolute;
	z-index: 1000;
}

.rateRouteContainer.opened{
	bottom: 5px;
	animation-name: ratingSlideIn;
	animation-duration: 0.8s;
}

.rateRouteContainer.closed{
	bottom: -80px;
	animation-name: ratingSlideOut;
	animation-duration: 0.8s;
}

.routeRating{
	width: 30%;
	height: auto;
	background-color: #fff;
    box-sizing: border-box;
    margin: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    min-width: 410px;
}

.routeRating .closeButton{
	position: relative;
	float: right;
	width: 16px;
	height: 16px;
	background-image: url("../../icons/close_16.png");
	cursor: pointer;
}

.closeButton:hover{
	background-color: #f2f2f2;
}

.routeRatingRow{
	width: 100%;
	padding: 16px 5px 16px 5px;
	height: 25px;
}

.textRatingDiv {
	width: fit-content;
	position: relative;
	top: 5px;
	left: 10px;
	display: inline-flex;
	height: 20px;
}

.ratingDiv {
    width: 70px;
    height: 14px;
    position: relative;
    display: inline-flex;
    top: 7px;
    margin-left: 25px;
}

.ratingStarDiv{
	position: relative;
	width: 14px;
	height: 14px;
	background-image: url("../../icons/sprites/rating_star_14.png");
}

.ratingStarDiv:hover{
	cursor: pointer;
}
  
.valutationResetButton, .valutationSubmitButton{
    height: 100%;
    width: fit-content;
    position: relative;
    margin-left: 10px;
}
