.searchIcon{
	position: relative;
	display: block;
	background-image: url(../../icons/search_14.png);
	cursor: pointer;
	height: 14px;
	width: 14px;
}

.searchIconContainer{
	height: 32px;
	width: 32px;
	margin-left: 2px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	display: inline-flex;
}

.searchIconContainer:hover{
	background-color: #f2f2f2;
}

.searchBoxBar{
	width: calc(100% - 40px) !important;
	border: none;
	border-bottom: 1px solid transparent;
	align-items: center;
	justify-content: center;
	display: inline-flex;
}

.searchBoxBar:focus{
	outline: 0px;
	border-color: #4285f4;
}