.formContainer{
    display: block;
}

.formContainer .personalizationRow{
    padding: 10px 0 10px 10px;
}

.editableTextBoxContainer{
	border-bottom-style: dotted !important;
	border-bottom-color: #e6e6e6 !important;
	font-style: oblique;
}
.editableTextBoxContainer:focus, .editableTextBox:focus{
	outline: none;
	border-bottom: 1px dotted #3498db !important;
}

.editableTextBoxEditButton{
	border: 1px solid transparent;
	border-radius: 50%;
	width: 16px !important;
	height: 16px !important;
	cursor: pointer;
	background-image: url("../../icons/edit_16.png");
}

.editableTextBoxEditButton:hover{
	border: 1px solid transparent;
	border-radius: 50%;
}

.obscured, .obscured *{
	background-color: lightgray;
}

.submitButtons{
	width: fit-content;
	margin: auto;
}