.contentContainer{
	overflow: hidden;
}

.menuContent{
	padding: 5px;
	font-size: 12px;
	width: calc(100% - 10px);
}

.menuContent table{
	width: 100%;
}

div.addressBar{
	width: 100%;
	
}

div.addressBar:focus{
	outline: none;
}

.addressBar input{
	font-size: 12px !important;
	border-bottom: 1px solid transparent !important;
}

.addressBar input:focus{
	outline: none;
	border-color: #58aef3 !important;
}

.addressBar .esri-search__submit-button{
	display: none !important;
}

.routingForm span{
	display: inline-flex;
	padding: 0px 5px 0px 0px;
}

.routingForm div.addressBar{
	display: inline-flex;
	width: 150px;
	float: right;
}

.routingRow, .paramRow{
	padding: 5px 0px 5px 5px;
}

.routingForm input{
	cursor: pointer;
	/*border: 1px solid lightslategray;*/
	/*background: white;*/
	margin: 5px 5px 5px 5px;
	height: 20px;
	/*border-radius: 5%;*/
}

.paramRow span{
	padding: 5px 0px 5px 0px;
}

.paramRow #btnSearch{
	cursor: pointer;
	margin: 5px 5px 5px 5px;
	height: 20px;
}